@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0%;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
  position: relative;
}
body span,
p,
li,
td,
th,
button,
input,
select,
textarea {
  font-size: 16px;
  line-height: 16px;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}

.bug-list {
  padding: 15px 20px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.bug-list td,
th {
  border: 1px solid #000;
  padding: 3px 10px;
}
.bug-list li:nth-child(odd) {
  background: #afafaf;
}

.dash-div {
  /* border: 1px solid #000; */
  overflow-y: auto;
  height: 50%;
  width: 100%;
  margin: 10px 0px;

  background-size: cover;
}
.dash-div thead th {
  position: sticky;
  top: 0;
}
/* table {
  border-collapse: collapse;
}
tr th {
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
tr:nth-child(even) {
  background-color: rgb(185, 185, 185);
}
thead tr {
  height: 40px;
} */
.more-details {
  background: #f4f4f4;
  width: 60%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  box-shadow: 3px 5px 6px #b1b1b1;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .more-details {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .more-details {
    width: 95%;
  }
}
.more-details span {
  position: relative;
  margin: 5px 10px;
  display: inline-block;
}
.more-details button {
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  margin: 5px 10px;
}
.more-details .close-button {
  width: 100%;
  text-align: right;
}
.fa-circle-xmark {
  color: #ff0000;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.modal-badge {
  color: #fff;
  padding: 1px 3px;
  margin-left: 5px;
  border-radius: 3px;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  background: #00000039;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.form-div h2 {
  margin-bottom: 10px;
}
.report-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 18px;
  align-items: center;
  width: fit-content;
}
.report-form input,
textarea,
select {
  width: 94%;
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 10px 0px !important;
}
.report-form input:focus,
select:focus,
textarea:focus {
  outline: #ff96ec solid 2px;
  border: 1px solid #fff;
}

.form-div .form-button {
  width: 24%;
  padding: 10px 20px;
  background: #007bff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 465px) {
  .form-div .form-button {
    width: 40%;
  }
}
.dash-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.lboard {
  width: 30%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
}

/* 404 page--------- */
#main {
  display: table;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #888;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.filter-label{
  margin-left: 5px;
}
.head-div{
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width:730px) {
  .head-div{
    flex-direction: column;
  }
  

}